body.night {
  background-color: var(--color-night-bg);
  color: var(--color-night-fg);
}
body.night::before {
  color: var(--color-night-light);
}
body.night input[type="text"] {
  background-color: hsla(215,0%,100%,0.1);
  border-color: hsla(215,0%,100%,0.25);
  color: white;
}
body.night a {
  color: var(--color-night-link);
}
body.night .text-faded {
  color: var(--color-night-faded);
}
body.night header {
  border-bottom: 1px solid var(--color-night-light);
}
body.night .btn-outline-primary {
  color: var(--color-night-link);
  border-color: var(--color-night-link);
}
body.night .btn-outline-primary:hover {
  color: var(--color-night-fg);
  border-color: var(--bs-blue);
}
body.night aside#settings {
  background-color: hsla(215,40%,20%,0.95);
  border-left: 1px hsla(215,0%,100%,0.1) solid;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}
body.night.loading .ark-data-skeleton {
  background-color: hsla(215,60%,80%,0.2);
  background-image: linear-gradient(90deg, hsla(215,60%,80%,0) 10%, hsla(215,60%,80%,0.2) 50%, hsla(215,60%,88%,0) 90%);
}
body.night #ark-hourly-forecast li + li {
  border-left: 1px solid var(--color-night-light);
}
body.night #ark-hourly-forecast .ark-hourly-pop {
  color: var(--color-night-faded);
}
body.night #ark-daily-forecast li {
  border-top: 1px var(--color-night-light) solid;
}
body.night #ark-daily-forecast .ark-daily-pop {
  color: var(--color-night-faded);
}